
.gallery__fishing{
  text-align: center;
  p{
    font-family: $cursive-ff;
    font-size:9.5vw;
    color:black;
    text-align: center;
    margin-bottom: 0;
    @media(min-width:map-get($breakpoints,small)){
      font-size: 7vw;
    }
    @media(min-width:map-get($breakpoints,mmd)){
      font-size: 6vw;
    }
    @media(min-width:map-get($breakpoints,md)){
      font-size: 3.8vw;
    }
    @media(min-width:map-get($breakpoints,large)){
      font-size: 3vw;
    }
  }
}
.amazon__button{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb3a1+11,de6869+30,ffb3a1+67,de6869+95 */
  background: #ffb3a1; /* Old browsers */
  background: -moz-linear-gradient(45deg, #ffb3a1 11%, #de6869 30%, #ffb3a1 67%, #de6869 95%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #ffb3a1 11%,#de6869 30%,#ffb3a1 67%,#de6869 95%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #ffb3a1 11%,#de6869 30%,#ffb3a1 67%,#de6869 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb3a1', endColorstr='#de6869',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
/*
// Needs latest Compass, add '@import "compass"' to your scss
// Permalink - use to edit and share this gradient:
// http://colorzilla.com/gradient-editor/#ffb3a1+11,de6869+30,ffb3a1+67,de6869+95
background-color: #ffb3a1; // Old browsers
@include filter-gradient(#ffb3a1, #de6869, horizontal); // IE6-9 fallback on horizontal gradient
@include background-image(linear-gradient(left bottom, #ffb3a1 11%,#de6869 30%,#ffb3a1 67%,#de6869 95%));
*/
  font-family: $default-ff;
  font-size: 6vw;
  text-transform: uppercase;
  color: white;
  font-weight: $black;
  letter-spacing: 1vw;
  border-radius: 25px;
  @media(min-width:map-get($breakpoints,small)){
    font-size: 4.5vw;
    letter-spacing: .5vw;
  }
  @media(min-width:map-get($breakpoints,mmd)){
    font-size: 3vw;
    letter-spacing: .5vw;
  }
  @media(min-width:map-get($breakpoints,md)){
    font-size: 28px;
    letter-spacing: 2px;
  }
  @media(min-width:map-get($breakpoints,large)){
    font-size: 28px;
    letter-spacing: 2px;
  }
}
i{
  display: block;
  font-family: $default-ff;
  font-size: 3vw;
  font-style: italic;
  letter-spacing: .1vw;
  @media(min-width:map-get($breakpoints,small)){
    font-size: 2.2vw;
  }
  @media(min-width:map-get($breakpoints,mmd)){
    font-size: 1.5vw;
  }
  @media(min-width:map-get($breakpoints,md)){
    font-size: 11px;
  }
  @media(min-width:map-get($breakpoints,large)){
    font-size: 12px;
  }
}
