
//MARGIN BOTTOM FOR END-OF-SECTION
.end-of-section{
  margin-bottom: 24px;
  @media(min-width: map-get($breakpoints,small)){
    margin-bottom: 36px;
  }
  @media(min-width: map-get($breakpoints,mmd)){
    margin-bottom: 48px;
  }
  @media(min-width: map-get($breakpoints,md)){
    margin-bottom: 60px;
  }
  @media(min-width: map-get($breakpoints,large)){
    margin-bottom: 72px;
  }
}
.extra-padding-left-lg{
  @media(min-width: map-get($breakpoints,large)){
    padding-left: 48px;
  }
}
.extra-padding-mmd-top{
  @media(min-width: map-get($breakpoints,large)){
      padding-top: 24px;
  }
}
.img--modal{
  max-width: 300px;
  max-height: 90vh;
  margin:auto;
  @media(min-width: map-get($breakpoints,small)){
    max-width: 400px;
  }
  @media(min-width: map-get($breakpoints,large)){
    max-width: 480px;
  }
}
