//COMPASS [ line 12, ]
.amazon__exclusive{
  @include fonty( 11px, $default-ff, black, $regular, 10px, none, italic){
    position: absolute;
    display: block;
    width: 100%;
    top: 50%;
    left: 0;
    background: white;
    color: black;
    padding-bottom: 3px;
    @include single-text-shadow(0 0 0 white);
  }
  @media(min-width: map-get($breakpoints,small)){
      font-size: 11px;
  }
  @media(min-width: map-get($breakpoints,mmd)){
      font-size: 12px;
  }
  @media(min-width: map-get($breakpoints,md)){
      font-size: 14px;
  }
  @media(min-width: map-get($breakpoints,large)){
      font-size: 18px;
  }
}
