
.amazon__content{
  @include fonty( 7px, $default-ff, black, $regular, .1vw, uppercase, normal, 12px){
    padding: 0;
    margin: 1vw 0;
    text-align: center;
  };

  @media(min-width: map-get($breakpoints,small)){//480px
    font-size: 8px;
  }
  @media(min-width: map-get($breakpoints,mmd)){//720px
    font-size: 9px;
  }
  @media(min-width: map-get($breakpoints,large)){//1248px
      font-size: 12px;
      line-height: 18px;
  }
  @media(min-width: map-get($breakpoints,xlarge)){//1500px
      font-size: 1vw;
      line-height: 1.5vw;
  }
}
