
.amazon-affiliate-program{

  padding-left: 0;
  padding-right: 0;
  background-color: white;
  border: 1px #ffb3a133 solid;
  box-shadow: 0 0 4px #ebebeb;
  margin-bottom: 24px;
  @media(min-width: map-get($breakpoints,small)){
    margin-bottom: 36px;
  }
  @media(min-width: map-get($breakpoints,mmd)){
    margin-bottom: 48px;
  }
  @media(min-width: map-get($breakpoints,md)){
    margin-bottom: 60px;
  }
  @media(min-width: map-get($breakpoints,large)){
    margin-bottom: 72px;
  }



  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb3a1+0,de6868+40,ffb3a1+85 */
/*background: #ffb3a1; /* Old browsers */
/*background: -moz-linear-gradient(45deg, #ffb3a1 0%, #de6868 40%, #ffb3a1 85%); /* FF3.6-15 */
/*background: -webkit-linear-gradient(45deg, #ffb3a1 0%,#de6868 40%,#ffb3a1 85%); /* Chrome10-25,Safari5.1-6 */
/*background: linear-gradient(45deg, #ffb3a1 0%,#de6868 40%,#ffb3a1 85%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb3a1', endColorstr='#ffb3a1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

//sass && compass
// Needs latest Compass, add '@import "compass"' to your scss
// Permalink - use to edit and share this gradient:
// http://colorzilla.com/gradient-editor/#ffb3a1+0,de6868+40,ffb3a1+85
/*
background-color: #ffb3a1; // Old browsers
@include filter-gradient(#ffb3a1, #ffb3a1, horizontal); // IE6-9 fallback on horizontal gradient
@include background-image(linear-gradient(left bottom, #ffb3a1 0%,#de6868 40%,#ffb3a1 85%));*/
}
